.traffic-light {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    position: relative;
  }
  
  .light {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .light.red {
    background-color: red;
  }
  
  .light.red:hover {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8); /* Resplandor rojo */
  }
  
  .light.yellow {
    background-color: orange;
  }
  
  .light.yellow:hover {
    box-shadow: 0 0 20px 10px rgba(255, 165, 0, 0.8); /* Resplandor amarillo */
  }
  
  .light.green {
    background-color: green;
  }
  
  .light.green:hover {
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.8); /* Resplandor verde */
  }
  